@import url(/static/nfie_data_viewer/vendor/cesium/Build/Cesium/Widgets/widgets.css);
#cesiumContainer {
    width: 100%;
    height: 25em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map-view {
    height: 25em;
    width: 100%;
}
#nc-chart {
    height: 25em;
    margin-bottom: 40px;
}
.popover-content {
    min-width: 300px;
}
.wait {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
.success {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.error {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
#info, #loading-globe, #app-navigation, #status, .modal-title, #chart-buttons, #animation-buttons{
    text-align: center;
}
#file-info {
    font-size: 10px;
}
h6 {
    font-size: 18px;
}
.always-hidden {
    display: none;
}
#slider {
    width: 20em;
    text-align: center;
    margin: auto;
}
.control-label {
    font-size: smaller;
}
.btn-group, .btn {
    margin-top: 3px;
}

#labels-toggle-group, #labels-toggle-group > .form-group {
    float: right;
}
#streams-toggle-group, #labels-toggle-group {
    margin-top: 6px;
}