@import url(/static/nfie_data_viewer/vendor/cesium/Build/Cesium/Widgets/widgets.css);
#cesiumContainer {
    width: 100%;
    height: 25em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map-view {
    height: 25em;
    width: 100%;
}
#nc-chart {
    height: 25em;
    margin-bottom: 40px;
}
.popover-content {
    min-width: 300px;
}
.wait {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}
.success {
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.error {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
#info, #loading-globe, #app-navigation, #status, .modal-title, #chart-buttons,
#animation-buttons, #select-view-button-div, #remove-buttons-div {
    text-align: center;
}
#file-info {
    font-size: 10px;
}
h6 {
    font-size: 18px;
}
.always-hidden {
    display: none;
}
#slider {
    width: 20em;
    text-align: center;
    margin: auto;
}
.control-label {
    font-size: smaller;
}
.btn-group, .btn {
    margin-top: 3px;
    text-align: center;
}

#toggle-layer-buttons {
    vertical-align: bottom;
}
.form-group {
    margin-bottom: 0 !important;
}
.info-text {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    background-color: #b2b2ff;
    color: white;
    margin-top: 7px;
}
#blue {
    background-color: blue;
    color: white;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#red {
    background-color: red;
    color: white;
}
#animation-legend-title {
    vertical-align: middle;
    font-weight: bold;
    text-align: right;
}
.legend-item {
    text-align: center;
    font-weight: bold;
}
#byu-logo-container {
    float: left;
    position: absolute;
    bottom: 8px;
}
#byu-logo-container img {
    float: left;
    height: 50px;
    width: 50px;
}
#byu-logo-container span {
    position: relative;
    top: 25px;
    margin-left: 10px;
}
